:root {
  /* Colors */
  --primary-gradient-color: hsl(236, 72%, 79%);
  --secondary-gradient-color: hsl(237, 63%, 64%);
  --neutral-text-color-01: hsl(240, 78%, 98%);
  --neutral-text-color-02: hsl(234, 14%, 74%);
  --neutral-text-color-03: hsl(233, 13%, 49%);
  --neutral-text-color-04: hsl(232, 13%, 33%);
  --linear-gradient-to-left: linear-gradient(to left, var(--secondary-gradient-color), var(--primary-gradient-color));
  --linear-gradient-to-top: linear-gradient(to top, var(--secondary-gradient-color), var(--primary-gradient-color));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--neutral-text-color-01);
  background-image: url('../images/bg-top.svg');
  background-size: 300px 500px;
  background-repeat: no-repeat;
  background-position: right -150px top 0px;
}

img {
  max-width: 100%
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 1.8rem;
}

h1, h2, p, li {
  color: var(--neutral-text-color-03);
}

h3 {
  color: var(--neutral-text-color-04);
}

p, li {
  font-size: 1.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr))
}

.pricing-container {
  min-width: 375px;

  &:has(.toggle-button input:checked) {

    & .card__price--annually {
      display: none;
    }

    & .card__price--monthly {
      display: flex;
    }
  }
}

.pricing__header {
  padding: 3em 0;
}

.title {
  padding: 1em 0;
}

.toggle-container {
  display: flex;
  padding: 1em 0;
  gap: 20px;
  align-items: center;

  & p {
    color: var(--neutral-text-color-02);
  }
}

.toggle-button {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  & input:checked + .swipe::before {
    transform: translateX(28px);
  }

  & .swipe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    background: var(--linear-gradient-to-left);
    cursor: pointer;

    &::before {
      position: absolute;
      display: block;
      content: '';
      height: 24px;
      width: 24px;
      background-color: var(--neutral-text-color-01);
      border-radius: 50%;
      top: 4px;
      left: 4px;
      transition: transform 0.5s;
    }
  }
}

.pricing__content {
  padding: 3.5em 0;
  margin: 0 auto;
  max-width: 1200px;
}

.card {
  padding: 4em 3em;
  width: 330px;
  border-radius: 10px;
  margin-bottom: 2em;
  background: #fff;
}

.card--primary {
  background: var(--linear-gradient-to-top);
  & h2, h3, li {
    color: #fff;
  }
  & a {
    background: #fff;
    color: var(--primary-gradient-color);
  }
}

.card__price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
  font-size: 4rem;
  & .price {
    font-size: 7rem;
  }
}

.card__price--monthly {
  display: none;
}

.card__content {
  padding: 0 0 3em;
}

.card__feature:last-child {
  border-bottom: 1px solid var(--neutral-text-color-01);
}

.card__feature {
  padding: 1.1em 0;
  border-top: 1px solid var(--neutral-text-color-01);
}

.card__cta {
  padding: 1em;
  display: block;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #fff;
  background: var(--linear-gradient-to-left);
  border-radius: 5px;
}

.attribution {
  font-size: 11px; text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1200px) {
  body {
    background-image: url('../images/bg-bottom.svg'), url('../images/bg-top.svg');
    background-size: auto, auto;
    background-position: left 0 bottom 0, right 0px top 0px;
  }

  .card {
    width: 100%;
  }

  .card--primary {
    padding: 6em 3em;
  }

  article:nth-child(1) {
    border-radius: 10px 0 0 10px;
  }

  article:nth-child(3) {
    border-radius: 0 10px 10px 0;
  }
}